$first-color: rgb(243, 129, 129);
$second-color: rgb(252, 227, 138);
$third-color: rgb(51, 51, 51);
$first-font: "Montserrat", sans-serif;
$second-font: "Roboto", sans-serif;
$third-font: "Kaushan Script", cursive;